getting-started/
week_1/postgres_pg_admin_and_ingestion/ny_taxi_postgres_data/
week_1/postgres_pg_admin_and_ingestion/yellow_head_100.csv
week_1/postgres_pg_admin_and_ingestion/yellow_tripdata_2021-01.csv
.ipynb_checkpoints/